{{- define "configXmlContainerStructTmpl" }}
type configXmlContainer{{createGoSuffixFromVersion $.Version }} struct {
	rawData []byte
}
{{- end }}

{{- if not .Entry}}
    package {{packageName .GoSdkPath}}

    {{renderImports "config"}}

    {{- RenderApiStructs $ }}

    {{ RenderFieldOptions }}

    {{- template "configXmlContainerStructTmpl" Map "Version" nil "XmlNode" .XmlNode }}

    {{- range $version := .SupportedVersionRanges }}
      {{- template "configXmlContainerStructTmpl" Map "Version" $version.Minimum }}
    {{- end}}

    {{ RenderXmlContainerNormalizers $ }}

    {{ RenderXmlContainerSpecifiers $ }}

    {{- RenderXmlStructs $ }}

    {{ RenderToXmlMarshallers }}

    {{ RenderXmlMarshaller }}

    {{ RenderEntryFieldHelpers }}

    func Versioning(vn version.Number) (XmlMarshaller, error) {
    {{- range $variable, $version := .SupportedVersionDefinitions }}
        {{ $variable }}, _ := version.New("{{ $version }}")
    {{- end }}

	var specFunc func(*{{ .EntryOrConfig }}) (any, error)
	var partialSpecFunc func(*{{ .EntryOrConfig }}, *FieldOption) (any, error)
	var normFactory func() Normalizer

    {{- if .SupportedVersionRanges }}
      {{- range $index, $versionDef := .SupportedVersionRanges }}
        {{- if eq $index 0 }}
	if vn.Gte({{ $versionDef.MinimumVariable }}) && vn.Lt({{ $versionDef.MaximumVariable }}) {
        {{- else }}
	} else if vn.Gte({{ $versionDef.MinimumVariable }}) && vn.Lt({{ $versionDef.MaximumVariable }}) {
        {{- end }}
		specFunc = {{ $versionDef.SpecifierFunc }}
		partialSpecFunc = {{ $versionDef.SpecifierFunc }}Partial
		normFactory = func() Normalizer { return &{{ $versionDef.XmlContainer }}{} }
      {{- end }}
	} else {
		specFunc = specifyConfig
		partialSpecFunc = specifyConfigPartial
		normFactory = func() Normalizer { return &configXmlContainer{} }
	}
    {{- else }}
	specFunc = specifyConfig
	partialSpecFunc = specifyConfigPartial
	normFactory = func() Normalizer { return &configXmlContainer{} }
    {{- end }}

	return &xmlMarshaller{
		specifierImpl: &specifierImpl{
			version:          vn,
			specifier:        specFunc,
			partialSpecifier: partialSpecFunc,
		},
		normalizerImpl: &normalizerImpl{
			version:           vn,
			normalizerFactory: normFactory,
		},
		version: vn,
	}, nil
    }

    {{- RenderSpecMatchers $ }}
{{- end}}
