package {{packageName .GoSdkPath }}

import (
	"fmt"

	"github.com/PaloAltoNetworks/pango/errors"
	"github.com/PaloAltoNetworks/pango/util"
	"github.com/PaloAltoNetworks/pango/version"
)

type Location struct {
    {{range $key, $location := .Locations}}
    {{- camelCase "" $key "" true}} {{locationType $key $location true}} `json:"{{$key}}{{omitEmpty $location}}"`
    {{end}}
}
{{range $key, $location := .Locations}}
{{- if $location.Vars}}
type {{locationType $key $location false}} struct {
{{- range $key, $var := $location.Vars}}
	{{camelCase "" $key "" true}} string `json:"{{$key}}"`
{{- end}}
}
{{- end}}
{{- end}}

{{ funcBodyForLocation .Locations }}