package {{packageName .GoSdkPath}}
{{- if .Entry}}
    {{renderImports "service" "filtering"}}
{{- else}}
    {{renderImports "service"}}
{{- end}}

type Service struct {
client util.PangoClient
}

func NewService(client util.PangoClient) *Service {
return &Service{
client: client,
}
}

// Create adds new item, then returns the result.
{{- if .Entry}}
    func (s *Service) Create(ctx context.Context, loc Location, entry Entry) (*Entry, error) {
{{- else}}
    func (s *Service) Create(ctx context.Context, loc Location, config Config) (*Config, error) {
{{- end}}

{{- if .Entry}}
    if entry.Name == "" {
    return nil, errors.NameNotSpecifiedError
    }
{{- end}}

vn := s.client.Versioning()

specifier, _, err := Versioning(vn)
if err != nil {
return nil, err
}

{{- if .Entry}}
    path, err := loc.XpathWithEntryName(vn, entry.Name)
{{- else}}
    path, err := loc.Xpath(vn)
{{- end}}
if err != nil {
return nil, err
}

{{- if .Entry}}
    createSpec, err := specifier(entry)
{{- else}}
    createSpec, err := specifier(config)
{{- end}}
if err != nil {
return nil, err
}

cmd := &xmlapi.Config{
Action:  "set",
{{- if .Entry}}
    Xpath:   util.AsXpath(path[:len(path)-1]),
{{- else}}
    Xpath:   util.AsXpath(path),
{{- end}}
Element: createSpec,
Target:  s.client.GetTarget(),
}

if _, _, err = s.client.Communicate(ctx, cmd, false, nil); err != nil {
return nil, err
}

{{- if .Entry}}
    return s.Read(ctx, loc, entry.Name, "get")
{{- else}}
    return s.Read(ctx, loc, "get")
{{- end}}
}

// Read returns the given config object, using the specified action ("get" or "show").
{{- if .Entry}}
    func (s *Service) Read(ctx context.Context, loc Location, name, action string) (*Entry, error) {
    return s.read(ctx, loc, name, action, true, false)
    }
    // ReadById returns the given config object with specified ID, using the specified action ("get" or "show").
    func (s *Service) ReadById(ctx context.Context, loc Location, uuid, action string) (*Entry, error) {
    return s.read(ctx, loc, uuid, action, false, false)
    }
{{- else}}
    func (s *Service) Read(ctx context.Context, loc Location, action string) (*Config, error) {
    return s.read(ctx, loc, action, false, false)
    }
{{- end}}

// ReadFromConfig returns the given config object from the loaded XML config.
// Requires that client.LoadPanosConfig() has been invoked.
{{- if .Entry}}
    func (s *Service) ReadFromConfig(ctx context.Context, loc Location, name string) (*Entry, error) {
    return s.read(ctx, loc, name, "", true, true)
    }
    // ReadFromConfigById returns the given config object with specified ID from the loaded XML config.
    // Requires that client.LoadPanosConfig() has been invoked.
    func (s *Service) ReadFromConfigById(ctx context.Context, loc Location, uuid string) (*Entry, error) {
    return s.read(ctx, loc, uuid, "", false, true)
    }
{{- else}}
    func (s *Service) ReadFromConfig(ctx context.Context, loc Location) (*Config, error) {
    return s.read(ctx, loc, "", false, true)
    }
{{- end}}

{{if .Entry}}
    func (s *Service) read(ctx context.Context, loc Location, value, action string, byName, usePanosConfig bool) (*Entry, error) {
    if byName && value == "" {
    return nil, errors.NameNotSpecifiedError
    }
    if !byName && value == "" {
    return nil, errors.UuidNotSpecifiedError
    }
{{- else}}
    func (s *Service) read(ctx context.Context, loc Location, action string, byName, usePanosConfig bool) (*Config, error) {
{{- end}}
vn := s.client.Versioning()
_, normalizer, err := Versioning(vn)
if err != nil {
return nil, err
}

{{- if .Entry}}
    var path []string
    if byName {
    path, err = loc.XpathWithEntryName(vn, value)
    } else {
    path, err = loc.XpathWithUuid(vn, value)
    }
{{- else}}
    path, err := loc.Xpath(vn)
{{- end}}
if err != nil {
return nil, err
}

if usePanosConfig {
if _, err = s.client.ReadFromConfig(ctx, path, true, normalizer); err != nil {
return nil, err
}
} else {
cmd := &xmlapi.Config{
Action: action,
Xpath:  util.AsXpath(path),
Target: s.client.GetTarget(),
}

if _, _, err = s.client.Communicate(ctx, cmd, true, normalizer); err != nil {
if err.Error() == "No such node" && action == "show" {
return nil, errors.ObjectNotFound()
}
return nil, err
}
}

list, err := normalizer.Normalize()
if err != nil {
return nil, err
} else if len(list) != 1 {
return nil, fmt.Errorf("expected to %q 1 entry, got %d", action, len(list))
}

return &list[0], nil
}

{{- if .Entry}}
    // Update updates the given config object, then returns the result.
    func (s *Service) Update(ctx context.Context, loc Location, entry Entry, name string) (*Entry, error) {
    return s.update(ctx, loc, entry, name, true)
    }

    // UpdateById updates the given config object, then returns the result.
    func (s *Service) UpdateById(ctx context.Context, loc Location, entry Entry, uuid string) (*Entry, error) {
    return s.update(ctx, loc, entry, uuid, false)
    }

    func (s *Service) update(ctx context.Context, loc Location, entry Entry, value string, byName bool) (*Entry, error) {
    if byName && entry.Name == "" {
    return nil, errors.NameNotSpecifiedError
    }
    if !byName && value == "" {
    return nil, errors.UuidNotSpecifiedError
    }

    vn := s.client.Versioning()
    updates := xmlapi.NewMultiConfig(2)
    specifier, _, err := Versioning(vn)
    if err != nil {
    return nil, err
    }

    var old *Entry
    if byName {
    if value != "" && value != entry.Name {
    path, err := loc.XpathWithEntryName(vn, value)
    if err != nil {
    return nil, err
    }

    old, err = s.Read(ctx, loc, value, "get")

    updates.Add(&xmlapi.Config{
    Action:  "rename",
    Xpath:   util.AsXpath(path),
    NewName: entry.Name,
    Target:  s.client.GetTarget(),
    })
    } else {
    old, err = s.Read(ctx, loc, entry.Name, "get")
    }
    } else {
    old, err = s.ReadById(ctx, loc, value, "get")
    }
    if err != nil {
    return nil, err
    } else if old == nil {
    return nil, fmt.Errorf("previous object doesn't exist for update")
    }

    if !SpecMatches(&entry, old) {
    path, err := loc.XpathWithEntryName(vn, entry.Name)
    if err != nil {
    return nil, err
    }

    updateSpec, err := specifier(entry)
    if err != nil {
    return nil, err
    }

    updates.Add(&xmlapi.Config{
    Action:  "edit",
    Xpath:   util.AsXpath(path),
    Element: updateSpec,
    Target:  s.client.GetTarget(),
    })
    }

    if len(updates.Operations) != 0 {
    if _, _, _, err = s.client.MultiConfig(ctx, updates, false, nil); err != nil {
    return nil, err
    }
    }

    if byName {
    return s.Read(ctx, loc, entry.Name, "get")
    } else {
    return s.ReadById(ctx, loc, value, "get")
    }
    }
{{- end}}

// Delete deletes the given item.
{{- if .Entry}}
    func (s *Service) Delete(ctx context.Context, loc Location, name string) error {
    return s.delete(ctx, loc, name, true)
    }
    // DeleteById deletes the given item with specified ID.
    func (s *Service) DeleteById(ctx context.Context, loc Location, uuid string) error {
    return s.delete(ctx, loc, uuid, false)
    }
{{- else}}
    func (s *Service) Delete(ctx context.Context, loc Location, config Config) error {
    return s.delete(ctx, loc, config)
    }
{{- end}}

{{if .Entry}}
    func (s *Service) delete(ctx context.Context, loc Location, value string, byName bool) error {
{{- else}}
    func (s *Service) delete(ctx context.Context, loc Location, config Config) error {
{{- end}}
{{- if .Entry}}
    if byName && value == "" {
    return errors.NameNotSpecifiedError
    }
    if !byName && value == "" {
    return errors.UuidNotSpecifiedError
    }
{{- end}}

vn := s.client.Versioning()

{{- if .Entry}}
    var path []string
    var err error
    if byName {
    path, err = loc.XpathWithEntryName(vn, value)
    } else {
    path, err = loc.XpathWithUuid(vn, value)
    }
{{- else}}
    path, err := loc.Xpath(vn)
{{- end}}
if err != nil {
return err
}

{{- if .Entry}}
    cmd := &xmlapi.Config{
    Action: "delete",
    Xpath:  util.AsXpath(path),
    Target: s.client.GetTarget(),
    }

    _, _, err = s.client.Communicate(ctx, cmd, false, nil)

    return err
{{- else}}
    deleteSuffixes := []string{
    {{- range $version := .SupportedVersions }}
        {{- range $_, $param := $.Spec.Params}}
            {{- if paramSupportedInVersion $param $version}}
                {{- range $_, $profile := $param.Profiles}}
                    {{- range $_, $xpath := xmlPathSuffixes $param}}
                        "{{$xpath}}",
                    {{- end}}
                {{- end}}
            {{- end}}
        {{- end}}
        {{- range $_, $param := $.Spec.OneOf}}
        {{- end}}
    {{- end}}
    }

    for _, suffix := range deleteSuffixes {
    cmd := &xmlapi.Config{
    Action: "delete",
    Xpath:  util.AsXpath(append(path, suffix)),
    Target: s.client.GetTarget(),
    }

    _, _, err = s.client.Communicate(ctx, cmd, false, nil)

    if err != nil {
    return err
    }
    }
    return nil
{{- end}}
}

{{- if .Entry}}
    // List returns a list of objects using the given action ("get" or "show").
    // Params filter and quote are for client side filtering.
    func (s *Service) List(ctx context.Context, loc Location, action, filter, quote string) ([]Entry, error) {
    return s.list(ctx, loc, action, filter, quote, false)
    }

    // ListFromConfig returns a list of objects at the given location.
    // Requires that client.LoadPanosConfig() has been invoked.
    // Params filter and quote are for client side filtering.
    func (s *Service) ListFromConfig(ctx context.Context, loc Location, filter, quote string) ([]Entry, error) {
    return s.list(ctx, loc, "", filter, quote, true)
    }

    func (s *Service) list(ctx context.Context, loc Location, action, filter, quote string, usePanosConfig bool) ([]Entry, error) {
    var err error

    var logic *filtering.Group
    if filter != "" {
    logic, err = filtering.Parse(filter, quote)
    if err != nil {
    return nil, err
    }
    }

    vn := s.client.Versioning()

    _, normalizer, err := Versioning(vn)
    if err != nil {
    return nil, err
    }

    path, err := loc.XpathWithEntryName(vn, "")
    if err != nil {
    return nil, err
    }

    if usePanosConfig {
    if _, err = s.client.ReadFromConfig(ctx, path, false, normalizer); err != nil {
    return nil, err
    }
    } else{
    cmd := &xmlapi.Config{
    Action: action,
    Xpath:  util.AsXpath(path),
    Target: s.client.GetTarget(),
    }

    if _, _, err = s.client.Communicate(ctx, cmd, true, normalizer); err != nil {
    if err.Error() == "No such node" && action == "show" {
    return nil, nil
    }
    return nil, err
    }
    }

    listing, err := normalizer.Normalize()
    if err != nil || logic == nil {
    return listing, err
    }

    filtered := make([]Entry, 0, len(listing))
    for _, x := range listing {
    ok, err := logic.Matches(&x)
    if err != nil {
    return nil, err
    }
    if ok {
    filtered = append(filtered, x)
    }
    }

    return filtered, nil
    }
{{- end}}