# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
/target/codegen

# Archives
/*.tar*

# Test binary, build with `go test -c`
*.test

# Test-related patterns
/*.log
/test-logs/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Custom ignores
.DS_Store
*.swp
.env

# IDE
.idea/

# Emacs
*~
\#*\#
.\#*


# Makefile-related patterns
/*-stamp
/panos-creds.txt
