name: "Service"
terraform_provider_config:
  suffix: "service"
go_sdk_config:
  package:
    - "objects"
    - "service"
xpath_suffix:
  - "service"
locations:
  - name: "shared"
    description: "Located in shared."
    devices:
      - panorama
      - ngfw
    xpath:
      path: ["config", "shared"]
  - name: "vsys"
    description: "Located in a specific vsys."
    devices:
      - panorama
      - ngfw
    xpath:
      path:
        - "config"
        - "devices"
        - "$ngfw_device"
        - "vsys"
        - "$vsys"
      vars:
        - name: "ngfw_device"
          description: "The NGFW device."
          default: "localhost.localdomain"
        - name: "vsys"
          description: "The vsys."
          default: "vsys1"
          validators:
            - type: not-values
              spec:
                values:
                  - value: "shared"
                    error: 'The vsys cannot be "shared". Use the "shared" path instead.'
  - name: "from_panorama_shared"
    description: "Located in shared in the config pushed from Panorama."
    read_only: true
    devices:
      - ngfw
    xpath:
      path:
        - "config"
        - "panorama"
        - "shared"
  - name: "from_panorama_vsys"
    description: "Located in a specific vsys in the config pushed from Panorama."
    read_only: true
    devices:
      - ngfw
    xpath:
      path:
        - "config"
        - "panorama"
        - "vsys"
        - "$vsys"
      vars:
        - name: "vsys"
          description: "The vsys."
          default: "vsys1"
          validators:
            - type: not-values
              spec:
                values:
                  - value: "shared"
                    error: 'The vsys cannot be "shared". Use the "shared" path instead.'
  - name: "device_group"
    description: "Located in a specific device group."
    devices:
      - panorama
    xpath:
      path:
        - "config"
        - "devices"
        - "$panorama_device"
        - "device-group"
        - "$device_group"
      vars:
        - name: "panorama_device"
          description: "The panorama device."
          default: "localhost.localdomain"
        - name: "device_group"
          description: "The device group."
          required: true
          validators:
            - type: not-values
              spec:
                values:
                  - value: "shared"
                    error: 'The device group cannot be "shared". Use the "shared" path instead.'
entries:
  - name: name
    description: "The name of the service."
    validators:
      - type: length
        spec:
          min: 1
          max: 63
version: "10.1.0"
spec:
  params:
    - name: description
      description: "The description."
      type: string
      validators:
        - type: length
          spec:
            min: 0
            max: 1023
      profiles:
        - xpath: ["description"]
    - name: tags
      description: "The administrative tags."
      type: list
      profiles:
        - type: member
          xpath: ["tag"]
      validators:
        - type: count
          spec:
            max: 64
      spec:
        items:
          type: string
          validators:
            - type: length
              spec:
                max: 127
    - name: protocol
      type: object
      description: "The protocol (TCP or UDP)."
      profiles:
        - xpath: ["protocol"]
      spec:
        variants:
          - name: tcp
            type: object
            description: "TCP protocol"
            profiles:
              - xpath: ["tcp"]
            spec:
              params:
                - name: destination-port
                  description: "The destination port."
                  type: int64
                  validators:
                    - type: range
                      spec:
                        min: 0
                        max: 1023
                  profiles:
                    - xpath: ["port"]
                - name: source-port
                  description: "The source port."
                  type: int64
                  validators:
                    - type: range
                      spec:
                        min: 0
                        max: 1023
                  profiles:
                    - xpath: ["source-port"]
                - name: override
                  type: object
                  description: "Override session timeout."
                  profiles:
                    - xpath: ["override", "yes"]
                  spec:
                    params:
                      - name: "timeout"
                        description: "TCP session timeout value (in second)"
                        type: int64
                        profiles:
                          - xpath: ["timeout"]
                      - name: "halfclose-timeout"
                        description: "TCP session half-close timeout value (in second)"
                        type: int64
                        profiles:
                          - xpath: ["halfclose-timeout"]
                      - name: "timewait-timeout"
                        description: "TCP session time-wait timeout value (in second)"
                        type: int64
                        profiles:
                          - xpath: ["timewait-timeout"]
          - name: udp
            type: object
            description: "UDP protocol"
            profiles:
              - xpath: ["udp"]
            spec:
              params:
                - name: destination-port
                  description: "The destination port."
                  type: int64
                  validators:
                    - type: range
                      spec:
                        min: 0
                        max: 1023
                  profiles:
                    - xpath: ["port"]
                - name: source-port
                  description: "The source port."
                  type: int64
                  validators:
                    - type: range
                      spec:
                        min: 0
                        max: 1023
                  profiles:
                    - xpath: ["source-port"]
                - name: override
                  type: object
                  description: "Override session timeout."
                  profiles:
                    - xpath: ["override", "yes"]
                  spec:
                    params:
                      - name: "timeout"
                        type: int64
                        description: "UDP session timeout value (in second)"
                        profiles:
                          - xpath: ["timeout"]
