{{ RenderIdentityModel }}

{{ RenderIdentitySchema }}

{{- if HasLocations }}
{{- RenderLocationStructs }}

{{- RenderLocationSchemaGetter }}

{{- RenderLocationMarshallers }}

{{- RenderLocationAttributeTypes }}

{{- RenderLocationAsIdentityGetter }}
{{- end }}
