
var terraformLocation {{ .TerraformStructName }}
terraformLocationToPango := func() diag.Diagnostics {
	diags := {{ $.Source }}.As(ctx, &terraformLocation, basetypes.ObjectAsOptions{})
	if diags.HasError() {
		return diags
	}

{{- range .Locations }}
  {{ $locationType := .Name }}
	if !terraformLocation.{{ $locationType }}.IsNull() {
		{{ $.Dest }}.{{ $locationType }} = &{{ .PangoStructName }}{}
		var innerLocation {{ .TerraformStructName }}
		diags.Append(terraformLocation.{{ .Name }}.As(ctx, &innerLocation, basetypes.ObjectAsOptions{})...)
		if diags.HasError() {
			return diags
		}
  {{- range .Fields }}
		{{ $.Dest }}.{{ $locationType }}.{{ .PangoName }} = innerLocation.{{ .TerraformName }}.ValueString()
  {{- end }}
	}
{{- end }}
	return nil
}

{{ $.Diags }}.Append(terraformLocationToPango()...)