####################################################
#~~~~~~~   CodeGen General Config Section   ~~~~~~~#
####################################################
output:
  go_sdk: "target/pango"
  terraform_provider: "target/terraform"
####################################################
#~~~~~~~  CodeGen Static File Copy Section  ~~~~~~~#
####################################################
assets:
  #~~~~~~~ SDK Static File section ~~~~~~~#
  go_sdk:
    source: "assets/pango/"
    target:
      go_sdk: true
    destination: ""
  #~~~~~~~ Terraform Provider Static File section ~~~~~~~#
  terraform_provider:
    source: "assets/terraform/"
    target:
      terraform_provider: true
    destination: ""
####################################################
#~~~ Codegen Terraform Provider Config section ~~~~#
####################################################
terraform_provider_config:
  params:
    hostname:
      description: "The hostname or IP address of the PAN-OS instance (NGFW or Panorama)."
      env_name: "PANOS_HOSTNAME"
      optional: true
      type: string
    username:
      description: "The username.  This is required if api_key is not configured."
      env_name: "PANOS_USERNAME"
      optional: true
      type: string
    password:
      description: "The password.  This is required if the api_key is not configured."
      env_name: "PANOS_PASSWORD"
      optional: true
      sensitive: true
      type: string
    api_key:
      description: "The API key for PAN-OS. Either specify this or give both username and password."
      env_name: "PANOS_API_KEY"
      optional: true
      type: string
    protocol:
      description: "The protocol (https or http)."
      default_value: "https"
      env_name: "PANOS_PROTOCOL"
      optional: true
      type: string
    port:
      description: "If the port is non-standard for the protocol, the port number to use."
      env_name: "PANOS_PORT"
      optional: true
      type: int64
    target:
      description: "Target setting (NGFW serial number)."
      env_name: "PANOS_TARGET"
      optional: true
      type: string
    api_key_in_request:
      description: "Send the API key in the request body instead of using the authentication header."
      env_name: "PANOS_API_KEY_IN_REQUEST"
      optional: true
      type: bool
    additional_headers:
      description: "Additional HTTP headers to send with API calls"
      env_name: "PANOS_HEADERS"
      optional: true
      type: map
      items:
        type: string
        length:
          max: 60
    skip_verify_certificate:
      description: "(For https protocol) Skip verifying the HTTPS certificate."
      env_name: "PANOS_SKIP_VERIFY_CERTIFICATE"
      optional: true
      type: bool
    auth_file:
      description: "Filesystem path to a JSON config file that specifies the provider's params."
      optional: true
      type: string
    # Variables for local inspection.
    config_file:
      description: "(Local inspection mode) The PAN-OS config file to load read in using `file()`"
      optional: true
      type: string
    sdk_log_categories:
      description: "Log categories to configure for the PAN-OS SDK library"
      env_name: "PANOS_LOG_CATEGORIES"
      optional: true
      type: string
    sdk_log_level:
      description: "SDK logging Level for categories"
      env_name: "PANOS_LOG_LEVEL"
      type: string
      default_value: "INFO"
      optional: true
    panos_version:
      description: "(Local inspection mode) The version of PAN-OS that exported the config file. This is only used if the root 'config' block does not contain the 'detail-version' attribute. Example: `10.2.3`."
      optional: true
      type: string
    multi_config_batch_size:
      description: Number of operations to send as part of a single MultiConfig update
      optional: true
      type: int64
      env_name: "PANOS_MULTI_CONFIG_BATCH_SIZE"
      default_value: "500"
