output:
  go_sdk: "../generated/pango"
  terraform_provider: "../generated/terraform-provider-panos"
assets:
  generic_package:
    source: "assets/generic"
    target:
      go_sdk: true
      terraform_provider: false
    destination: "generic"
  util_package:
    source: "assets/util"
    target:
      go_sdk: true
      terraform_provider: false
    destination: "util"
  audit_package:
    source: "assets/audit"
    target:
      go_sdk: true
      terraform_provider: false
    destination: "audit"
  errors_package:
    source: "assets/errors"
    target:
      go_sdk: true
      terraform_provider: false
    destination: "errors"
  version_package:
    source: "assets/version"
    target:
      go_sdk: true
      terraform_provider: false
    destination: "version"
  example_package:
    source: "assets/example"
    target:
      go_sdk: true
      terraform_provider: false
    destination: "example"
  sdk_package:
    source: "assets/sdk"
    target:
      go_sdk: true
      terraform_provider: false
    destination: ""
  xmlapi_package:
    source: "assets/xmlapi"
    target:
      go_sdk: true
      terraform_provider: false
    destination: "xmlapi"
  filtering_package:
    source: "assets/filtering"
    target:
      go_sdk: true
      terraform_provider: false
    destination: "filtering"
  plugin_package:
    source: "assets/plugin"
    target:
      go_sdk: true
      terraform_provider: false
    destination: "plugin"