{{- range .Specs }}
{{- $spec := . }}
type {{ .StructName }} struct{
  {{- range .Fields }}
    {{- if .IsInternal }}{{ continue }}{{ end }}
	{{ .Name.CamelCase }} {{ .FinalType }}
  {{- end }}
}
{{- end }}
