{{- range .Specs }}
{{- if not .TopLevel }}{{ continue }}{{ end }}
func {{ .SpecifierFuncName $.EntryOrConfig }}(source *{{ $.EntryOrConfig }}) (any, error) {
	var obj {{ .XmlStructName }}
	obj.MarshalFromObject(*source)
	return obj, nil
}

func {{ .SpecifierFuncName $.EntryOrConfig }}Partial(source *{{ $.EntryOrConfig }}, fieldOpt *FieldOption) (any, error) {
	var obj {{ .XmlPartialStructName }}
	obj.MarshalFromObjectWithFields(*source, fieldOpt)
	return obj, nil
}
{{- end }}
