{{- if .ParametersWithTriggerOnChangeOf }}
triggeredParams := make(map[string]map[string]string)

var configState {{ .StructName }}Model
resp.Diagnostics.Append(req.Config.Get(ctx, &configState)...)
if resp.Diagnostics.HasError() {
	return
}

{{ if eq .PluralType "map" }}
var configElements map[string]{{ .ResourceTFStructName }}
resp.Diagnostics.Append(configState.{{ .ListAttribute.CamelCase }}.ElementsAs(ctx, &configElements, false)...)
if resp.Diagnostics.HasError() {
	return
}

for name, elt := range configElements {
	{{- range $pair := .ParametersWithTriggerOnChangeOf }}
	if !elt.{{ $pair.Trigger.TerraformNameVariant.CamelCase }}.IsNull() &&
	   !elt.{{ $pair.Trigger.TerraformNameVariant.CamelCase }}.IsUnknown() &&
	   !elt.{{ $pair.Param.TerraformNameVariant.CamelCase }}.IsNull() &&
	   !elt.{{ $pair.Param.TerraformNameVariant.CamelCase }}.IsUnknown() {
		if triggeredParams[name] == nil {
			triggeredParams[name] = make(map[string]string)
		}
		triggeredParams[name]["{{ $pair.Param.Name.Underscore }}"] = elt.{{ $pair.Param.TerraformNameVariant.CamelCase }}.ValueString()
	}
	{{- end }}
}
{{ else if or (eq .PluralType "list") (eq .PluralType "set") }}
var configElements []{{ .ResourceTFStructName }}
resp.Diagnostics.Append(configState.{{ .ListAttribute.CamelCase }}.ElementsAs(ctx, &configElements, false)...)
if resp.Diagnostics.HasError() {
	return
}

for _, elt := range configElements {
	name := elt.Name.ValueString()
	{{- range $pair := .ParametersWithTriggerOnChangeOf }}
	if !elt.{{ $pair.Trigger.TerraformNameVariant.CamelCase }}.IsNull() &&
	   !elt.{{ $pair.Trigger.TerraformNameVariant.CamelCase }}.IsUnknown() &&
	   !elt.{{ $pair.Param.TerraformNameVariant.CamelCase }}.IsNull() &&
	   !elt.{{ $pair.Param.TerraformNameVariant.CamelCase }}.IsUnknown() {
		if triggeredParams[name] == nil {
			triggeredParams[name] = make(map[string]string)
		}
		triggeredParams[name]["{{ $pair.Param.Name.Underscore }}"] = elt.{{ $pair.Param.TerraformNameVariant.CamelCase }}.ValueString()
	}
	{{- end }}
}
{{- end }}
{{- end }}
